@(model: models.output.StudentCreateOutput)(implicit request: MessagesRequest[_])
@import services.html.PlayBootstrap4HtmlFactory.factory

@defining(request.messages) { t =>
    @shared.main(t("student.create.title")) {
        <p>
            <a class="btn btn-primary" href="@routes.StudentsController.index()">@t("student.backToIndex")</a>
        </p>
        @factory.form(routes.StudentsController.postCreate()) {
            @student.form(model.summary, model.genderOptions, "student.create.createStudent", t)
        }
    }
}
