@import infrastructure.StartUpConfigurator
@(students: List[models.domain.Student])(implicit request: MessagesRequest[_])

@defining(request.messages) { t =>
    @shared.main(t("student.index.title")) {
        @if(students.nonEmpty){
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>@t("student.attributes.firstName")</th>
                        <th>@t("student.attributes.lastName")</th>
                        <th>@t("student.attributes.birthDate")</th>
                        <th>@t("student.attributes.gender")</th>
                        <th>@t("student.attributes.phone")</th>
                        <th>@t("student.attributes.addressCity")</th>
                        <th>@t("student.attributes.notes")</th>
                        <th>@t("edit")</th>
                    </tr>
                </thead>
                <tbody>
                @students.map { student =>
                    <tr>
                        <td>@student.firstName</td>
                        <td>@student.lastName</td>
                        <td>@student.birthDate.format(StartUpConfigurator.dateFormat)</td>
                        <td>@t(student.gender.description)</td>
                        <td>@student.phone</td>
                        <td>@student.address.city</td>
                        <td>@student.notes</td>
                        <td><a href="@routes.StudentsController.update(student.id)">@t("edit")</a></td>
                    </tr>
                }
                </tbody>
            </table>
        } else {
            <h4>@t("student.no.records.found")</h4>
        }
        <p>
            <a class="btn btn-primary" href="@routes.HomeController.index()">@t("home.back")</a>
            <a class="btn btn-primary" href="@routes.StudentsController.create()">@t("student.create.createStudent")</a>
        </p>
    }
}
