@(title: String)(content: Html)(implicit request: MessagesRequest[_])
<!DOCTYPE html>
<html lang="@request.messages.lang.code">
    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        @content
    </body>
</html>

